.row{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

.message{
    font-size: larger;
    font-style: italic;
    color: rgba(118, 45, 186, 0.719);
    padding: 1.4rem;
}

.button{
    font-size: larger;
    padding: 0.3rem 2rem;
    background-color: brown;
    color: rgba(245, 245, 245, 0.488);
}